{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-dsa">
    <h1>Database</h1>

    <h2>Database</h2>
    <p>A database is an organized collection of information that can be searched, sorted, and updated.</p>

    <h3>Introduction to SQL</h3>
    <p>SQL is a standard language for accessing and manipulating databases.</p>
    <p><strong>SQL can do?</strong> execute queries against a database, retrieve data from a database,  insert records in a database, update records in a database, delete records from a database, create new databases, create new tables in a database, create stored procedures in a database, create views in a database, set permissions on tables, procedures, and views. </p>
</div>



{% endblock %}





{% comment %} <p> https://www.w3schools.com/dsa/dsa_intro.php </P> {% endcomment %}