<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Data Structure{% endblock %}

{% block content %}
    <h1>Data Structure  & Algorithms</h1>
    <h2>Data Structure.</h2>
    <p>A data structure is a way to store data.</p>
    <h4>Different types of data structures:</h4>
    <p><strong>Primitive data structures.</strong> are basic data structures provided by programming languages to represent single values, such as integers, floating-point numbers, characters, and booleans.</p>
    <p><strong>Abstract data structure.</strong> are higher-level data structures that are built using primitive data types and provide more complex and specialized operations. Some common examples of abstract data structures include arrays, linked lists, stacks, queues, trees, and graphs.</p>

    <h2>Algorithms.</h2>
   
{% endblock %}