{% extends "base.html" %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="title">Our Hairs</h1>
    {% for hair in hairs %}
    <div class="product-card">
        <div class="image-box">
            <img src="{{ hair.image.url }}" alt="{{ hair.name }}">
        </div>
        <div class="content">
            <h3>{{ hair.name }}</h3>
            <p class="price">KSh {{ hair.price }}</p>
            <p class="desc">{{ hair.description|truncatechars:120 }}</p>
            <div class="button-group">
                <button class="btn-cart">Add to Cart</button>
                <button class="btn-buy">Buy Now</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}