{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="title">Our Nails</h1>
    {% for nail in nails %}
    <div class="product-card">
        <div class="image-box">
            <img src="{{ nail.image.url }}" alt="{{ nail.name }}">
        </div>
        <div class="content">
            <h3>{{ nail.name }}</h3>
            <p class="price">KSh {{ nail.price }}</p>
            <p class="desc">{{ nail.description|truncatechars:120 }}</p>
            <div class="button-group">
                <form action="{% url 'cart_add' 'nail' nail.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    <button class="btn-cart" type="submit">Add to Cart</button>
                </form>
                <button class="btn-buy">Buy Now</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
